@model IEnumerable<work_01.Models.Skill>

@{
    ViewData["Title"] = "Index";
}

<h1>Skills</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.SkillId">Edit</a> 
                
                <a asp-action="Delete" asp-route-id="@item.SkillId" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
